<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h2>{{ .Data.Term }}</h2>
		{{ else }}
		<h2 class="page-title">{{ .Name }}</h2>
		{{ end }}
		
		{{ .Content }}

		<ul class="posts flat">
			{{ $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" true) }}
			{{ range $paginator.Pages }}
				<li class="post">
					{{ partial "post-preview.html" . }}
				</li>
			{{- end -}}
			{{ template "partials/paginator.html" . }}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
