<div class="header">
	{{ if .Site.Params.Avatar }}
		<div class="avatar">
			<a href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.Params.Avatar | safeURL }}" alt="{{ .Site.Title }}" />
			</a>
		</div>
	{{ end }}
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<p>{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
					<li><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></li>
				{{- end -}}
		    {{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
		    	<li><a href="#" class="scheme-toggle" id="scheme-toggle"></a></li>
		    {{- end -}}
			</ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
